@import '../../Utils/scss/variables';
@import '../../Utils/scss/extend';

#cart-product-list {
    margin-bottom: 3rem;

    button {
        margin-top: 2rem;
    }

    .no-products-message {
        font-size: 3rem;
        padding: 8rem 0rem;
    }

    .btn-clean-cart {
        @include createButton('white', $color-red);
    }

    .btn-catalogue {
        @include createButton('white', $color-main);
    }
}