%btn-base {
    background-color: $color-main;
    color: white;
    border: none;
    border-bottom: 0.5rem solid darken($color: $color-main, $amount: 5);
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
}

@mixin media-size($sizeMin,$sizeMax) {

    @if $sizeMax == null {
        @media only screen and (min-width: $sizeMin) {
            @content;
        } 
    
    } @else if $sizeMin == null {
        @media only screen and (max-width: $sizeMax) {
            @content;
        } 
    
    } @else {
        @media (min-width: $sizeMin) and (max-width: $sizeMax) {
            @content;
        }
    }
}