@import '../../Utils/scss/variables';

.product-card {
    img {
        max-height:200px;
        width: auto;
    }
    .product-info{
        border-top: 3px solid $color-main;
        margin-top: 10px;
        color: $color-text;

        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "productName productName"
            "productDescription productDescription"
            "productStock productPrice"
            "offset productButton";

        .product-name {
            grid-area: productName;
        }
        .product-description {
            grid-area: productDescription;
        }

        .product-price {
            grid-area: productPrice;
            font-weight: bold;
            font-size: 1.4rem;
            align-self: center;
        }

        .product-stock {
            grid-area: productStock;
            align-self: center;
        }

        .product-button {
            grid-area: productButton;

            button {
                background-color: $color-main;
                color: white;
                border: none;
                border-bottom: 4px solid darken($color: $color-main, $amount: 5);
            }
        }
    }
}