.header_sitio {
    background-color: white;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.172);
    height: 60px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;

        li {
            padding: 10px 12px;
            text-transform: uppercase;
            display: flex;
            align-items: center;

            &:hover {
                color: #17D7A0;
            }

            i {
                margin-left: 6px;
                position: relative;
                top: 3px;
            }
        }
    }
}