#footer-site {
    color: white;
    background-color: #3c3c3c;
    padding: 12px 0 12px 0;
    margin-top: 20rem;

    small {
        font-size: 16px;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}