@import '../../Utils/scss/variables';

.itemCounter {
    .stockCountInput {
        width: 3.5rem;
        margin: 0rem 1rem;
        border: 1px solid #3c3c3c;
        border-radius: 0.5rem;
        text-align: center;
    }
    

    button {
        border: none;
        border-radius: 0.5rem;
        font-weight: bold;
    }
}